<!DOCTYPE html>
<html>
  <head>
  <title>Rooms Game</title>
  </head>
  <body>
        <h1>#{message}</h1>
        <a href="/login">Login</a><br>
        <a href="/register">Register</a>
  </body>
</html>